@model eFormRequest.FieldValue

@if (Model.Value == "checked" || Model.Value == "1")
{
    <div class="checkbox">
        <input id="@(Model.Id)" checked name="f_[@(Model.Id)]" type="checkbox" value="checked">
        <label for="@(Model.Id)">

        </label>
        <br>
    </div>
}
else
{
    <div class="checkbox">
        <input id="@(Model.Id)" name="f_[@(Model.Id)]" type="checkbox" value="checked">
        <label for="@(Model.Id)">
            
        </label>
        <br>
    </div>
}
