@model eFormRequest.FieldValue

@*@Model.Value*@

@{String value = DateTime.ParseExact(Model.Value, "yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture).ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture);}


<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="input-group date" data-date-format="YYYY-MM-DD" id="datetimepicker_@(Model.Id)">
                <input class="form-control" name="f_[@(Model.Id)]" type="text" value="@(value)" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<script>

    //<![CDATA[
    $(function () {
        $('#datetimepicker_@(Model.Id)').datetimepicker({
            defaultDate: '@(value)',
            format: "YYYY-MM-DD"
        });
    });
    //]]>

</script>