@model eFormRequest.FieldValue

@Model.Value
<div class="checkbox">
    <input checked="checked" id="f_[@(Model.Id)][1]" name="f_[@(Model.Id)]" type="checkbox" value="@Model.Value">
    <label for="f_[@(Model.Id)][1]">
        @Model.ValueReadable
    </label>
    <br>
</div>