@model eFormRequest.FieldValue

@*@eFormRequest.MultiSelect @dataE = (eFormRequest.MultiSelect)Model;*@
@Model.Value
<div @*class="checkbox">
    <input checked="checked" id="farm_case[631][1]" name="farm_case[631][]" type="checkbox" value="1">
    <label for="farm_case[631][1]">
        Danish Crown
    </label>
    <br>
</div>
<div class="checkbox">
    <input id="farm_case[631][2]" name="farm_case[631][]" type="checkbox" value="2">
    <label for="farm_case[631][2]">
        Tican
    </label>
    <br>
</div>
<div class="checkbox">
    <input id="farm_case[631][3]" name="farm_case[631][]" type="checkbox" value="3">
    <label for="farm_case[631][3]">
        Brørup
    </label>
    <br>
</div>
<div class="checkbox">
    <input id="farm_case[631][4]" name="farm_case[631][]" type="checkbox" value="4">
    <label for="farm_case[631][4]">
        Privat slagteri
    </label>
    <br>
</div>
<div class="checkbox">
    <input id="farm_case[631][5]" name="farm_case[631][]" type="checkbox" value="5">
    <label for="farm_case[631][5]">
        Eksport
    </label>
    <br>
</div>
<div class="checkbox">
    <input id="farm_case[631][6]" name="farm_case[631][]" type="checkbox" value="6">
    <label for="farm_case[631][6]">
        Andre aftagere
    </label>
    <br>
</div>*@