@{
    Layout = null;
}
<div class="container-fluid">
    <form accept-charset="utf-8" action="/Templates/Create" class="create_eform" id="create_eform" method="post" data-remote="true" data-type="json">
        <div class="row">
            <div class="form-group col-xs-12 col-md-12">
                <label class="mt-validation-container" for="eFormXML">XML from eForm Builder</label>
                <textarea class="form-control" placeholder="Paste XML here" type="text" name="eFormXML" id="eform_xml" rows="50"/>
            </div>
        </div>
    </form>
</div>
