@{
    ViewBag.Title = "Edit "+ ViewBag.site.name;
}
<form accept-charset="utf-8" action="/Site/Update/@(ViewBag.site_id)" class="edit_case" id="edit_case" method="post">
    <div class="container-fluid">
        <div class="bs-docs-container">
            <div class="row">
                <div class="col-md-9" role="main">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Name</strong>
                                    </td>
                                    <td>
                                        <input class="form-control" placeholder="@(ViewBag.site.name)" type="text" value="@(ViewBag.site.name)" name="site['name']" id="site_name" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bs-docs-container hidden-print affix" id="mt-side-bar" role="complementary">
                        <button class="btn btn-ar btn-danger" id="submit_form">Gem</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
