@model eFormRequest.FieldValue

@if (Model.Value == "checked" || Model.Value == "1")
{
    <div class="checkbox">
        <input id="@(Model.FieldId)" checked name="f_[@(Model.FieldId)]" type="checkbox" value="checked">
        <label for="@(Model.FieldId)">

        </label>
        <br>
    </div>
}
else
{
    <div class="checkbox">
        <input id="@(Model.FieldId)" name="f_[@(Model.FieldId)]" type="checkbox" value="checked">
        <label for="@(Model.FieldId)">
            
        </label>
        <br>
    </div>
}
