@*
    The MIT License(MIT)

    Copyright(c) 2007-2017 microting

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
*@

@model IEnumerable<eFormFrontendDotNet.Models.settings>

<header class="main-header">
    <div class="container-fluid">
        <h1 class="page-title">
            <div class="container">
                bin/input.txt missing!
            </div>
        </h1>
        <div class="pull-right">
        </div>
    </div>
</header>
<div class="container">
    <h3>
        We did not find a input.txt file in the bin folder.
    </h3>    
    <span>
        The content should look like this:
    </span>
    <br />
    <span>
        Data Source={{COMPUTER_NAME}}\SQLEXPRESS;Initial Catalog={{DATABASE_NAME}};Integrated Security=True
    </span>
</div>