<header class="main-header">
    <div class="container-fluid">
        <h2 class="page-title">
            <div class="container">
                Change password
            </div>
        </h2>
        <ol class="breadcrumb pull-right"></ol>
    </div>
</header>
<div class="container-fluid">
    <div class="container">
        <form accept-charset="UTF-8" action="/users" class="edit_user" id="edit_user" method="post">
            <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div><div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top:50px;">

                <div class="input-group" style="margin-bottom: 30px">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input class="form-control" id="login-email" name="user[email]" placeholder="Email" type="text" value="rm@microting.com">
                </div>
                <div class="input-group" style="margin-bottom: 5px">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input class="form-control" id="login-password" name="user[password]" placeholder="New password" type="password">
                </div>
                <div class="input-group" style="margin-bottom: 5px; margin-top: 15px">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input class="form-control" id="login-password" name="user[password_confirmation]" placeholder="Confirm new password" type="password">
                </div>
                <small>
                    (We need your current password to confirm your changes)
                </small>
                <div class="input-group" style="margin-bottom: 25px; margin-top: 15px">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input class="form-control" id="login-password" name="user[current_password]" placeholder="Current password" type="password">
                </div>
                <div class="form-group" style="margin-top:10px">
                    <div class="buttons">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-ar btn-default" href="javascript:history.back()" id="submit_form">
                                    Cancel
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-ar btn-primary" href="#" id="submit_form">
                                    Update user information
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>


    </div>

</div>