<header class="main-header">
    <div class="container-fluid">
        <h2 class="page-title">
            <div class="container">
                Reset password
            </div>
        </h2>
        <ol class="breadcrumb pull-right"></ol>
    </div>
</header>
<div class="container-fluid">
    <div class="container">
        <form accept-charset="UTF-8" action="/users/password" class="new_user" id="new_user" method="post">
            <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"></div><div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top:50px;">

                <input id="user_reset_password_token" name="user[reset_password_token]" type="hidden" value="fJzEFxQgoo6t25LPos9H">
                <div class="input-group" style="margin-bottom: 25px">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input class="form-control" id="login-password" name="user[password]" placeholder="New password" type="password">
                </div>
                <div class="input-group" style="margin-bottom: 25px">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input class="form-control" id="login-password" name="user[password_confirmation]" placeholder="Confirm new password" type="password">
                </div>
                <div class="form-group" style="margin-top:10px">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-7 text-right">
                            <div class="buttons">
                                <button class="btn btn-ar btn-primary pull-right" href="#" id="submit_form">
                                    Change my password
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>


    </div>
    <script>
  //<![CDATA[
    $(document).ready(function() {
       $('#submit_form').on('click', function(event){
         $("#new_user").submit();
       });
      });
  //]]>
    </script>

</div>