@{
    ViewBag.Title = "Edit "+ ViewBag.worker.name;
}
<form accept-charset="utf-8" action="/Workers/Update/@(ViewBag.worker_id)" class="edit_case" id="edit_case" method="post">
    <div class="container-fluid">
        <div class="bs-docs-container">
            <div class="row">
                <div class="col-md-9" role="main">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>First name</strong>
                                    </td>
                                    <td>
                                        <input class="form-control" placeholder="@(ViewBag.worker.first_name)" type="text" value="@(ViewBag.worker.first_name)" name="worker['first_name']" id="worker_first_name" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Last name</strong>
                                    </td>
                                    <td>
                                        <input class="form-control" placeholder="@(ViewBag.worker.last_name)" type="text" value="@(ViewBag.worker.last_name)" name="worker['last_name']" id="worker_last_name" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bs-docs-container hidden-print affix" id="mt-side-bar" role="complementary">
                        <button class="btn btn-ar btn-danger" id="submit_form">Gem</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
